/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}


/* CLASSI */
.container{
    width: 1024px;
    margin: 0 auto;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

.colonne{
    padding: 12px;
}

.container nav ul li{
    list-style: none;
    float: left;
}
.container nav ul li a{
    text-decoration: none;
}

.main_menu{
    margin: 25px 0;
}

.main_menu ul li a{
    padding-right: 5px; 
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: bolder;
}

.main_menu ul li a:hover{ 
    color: black;
}

.container-image{
    height: 400px;
    width: 100%;
    position: relative;  
    border-radius: 10px;
    overflow: hidden;
}

.container-image > img {
    height: 100%;
    width:  100%;
    object-fit: cover;
}

.overlay::after{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.text_header{
    position: absolute;
    z-index: 20;
    color: white;
    left: 30px;
    bottom: 40px;
    max-width: 60%;
}

.text_header > h3{
    font-size: 22px;
    font-weight: 500;
}

.text_header > p{
    font-size: 14px;
    font-weight: 400;
}

.intestazione{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* TAG */
footer{
    height: 100px;
}

section{
    margin: 20px auto 10px auto;
}


/* ID */
#logo{
    height: 60px;
    object-fit: contain;
    float: left;
    border-right: 0.2px solid rgba(211, 211, 211, 0.5);
    padding-right: 15px;
    font-size: 0;
}

/* DEBUG */
.debug{
    background-color: grey;
}

.debug_content{
    background-color: cornflowerblue;
}

.container_image{
    max-height: 400px;
}

.debug.content_02{
    background-color: darkcyan;
    height: 650px;
}

.rect_01{
    min-height: 75px;
}

.rect_02{
    width: 20%;
    height: 550px;
    float: left; 
    margin-right: 1%;
}

.rect_03{
    width: 58%;
    height: 550px;
    float: left; 
    margin-right: 1%;
    background-color: #fff;
}

.rect_04{
    width: 20%;
    height: 550px;
    float: left; 
}
